:root {
    --primary-color: #024e76;
    --secondary-color: #A9A9A9;
    --tertiary-color: #f5f5dc;
    --4th-color:
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* start header styling */
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 65px var(--primary-color);
    padding: 0px 75px;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.50vw;
    text-shadow: 0 0 65px var(--primary-color);
    text-decoration: underline;
    
}
    /*pseudo*/
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* end header styling */

section {
    padding: 60px 80px;
     
}

/* start footer styling */

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 0;
}

/* end footer styling */

/* start hero */

.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}


.saul-img {
    padding: 10px;
    background-color: rgba(169,169,169,0.7);
    color: var(--primary-color);
    border-radius: 15px;
    border: 3px solid  var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    width: auto;
    margin: 0%;
}
.saul-img img {
    border-radius: 15px;
    border: 3px solid  var(--primary-color);
    height: 320px;
    width: 320px;
}


.background-author{
    padding: 10px;
    background-color: rgba(169,169,169,0);
    border-radius: 15px;
    border: 3px solid  var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

/*pseudo*/
.background-author:hover {
    background-color: rgba(169,169,169,0.7);
    color: var(--primary-color);
    text-shadow: none;
}   

.background-author h2 {
    width: auto;
    margin: 0%;
    font-weight: lighter;
    font-size: 14.7px;
}
.background-author h2 a {
    text-decoration: none;
    color: var(--primary-color);
}

/* end hero */

/* start about me section */

.sections {
    background-color: var(--secondary-color);
}

.section-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
}

.section-title {
    font-size: 40px;
    color: var(--primary-color);
    border-right: 3px solid;
    padding-right: 20px;
    
    text-align: right;
}

.section-text {
    color: var(--primary-color);
    padding-left: 50px;
    text-align: left;
}

.section-text p {
    padding: 20px;
    font-size: 20px;
}


.section-references{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.section-info a {
    margin: 50px;
    padding: 20px;
    font-weight: lighter;
    font-size: 1.50vw;
    text-decoration: none;
}
.section-references li a {
    color: var(--primary-color);
    text-decoration: underline;
}

    /*pseudo*/
.section-references li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

